<form class="auth-form">
    <div class="auth-form__title">NFT Access</div>
    <div class="auth-form__text">Please fill your detail to access your account.</div>
    <div class="auth-form__registration">
        <label for="email">Email:</label>
    </div>
    <div class="auth-form__input">
        <input type="email" id="mail" name="email__name" placeholder="debra.holt@example.com">
    </div>
    <div class="auth-form__registration">
        <label for="name">Password:</label>
    </div>
    <div class="auth-form__input">
        <input type="password" name="userpass" placeholder="Userpass">
    </div>
    <div class="auth-form__remember">
        <label class="auth-form__chk">
            <input class="auth-form__inp" type="checkbox" name="remember" value="yes">
            <span class="auth-form__check"></span>
            <span class="auth-form__rememberMe">Remember me</span>
        </label>
        <div class="auth-form__forgotPassword">
            <a href="/">Forgot Password?</a>
        </div>
    </div>
    <a href="/" class="auth-form__sing btn">Sign in</a>

    <a href="https://www.google.com/" class="auth-form__google">
        <img src="./assets/google.svg" alt="Google">
        <p class="auth-form__signGoogle">Sign in with Google</p>
    </a>
    <div class="auth-form__signUp">
        <a href="/">Don’t have an account? Sign up</a>
    </div>
</form>