@import "vars";
@import "mixins";

.auth {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding: 32px;
  gap: 140px;

  @include mobile {
    padding: 24px;
    display: flex;
    justify-content: center;
    margin-inline: auto;
    gap: 0;
  }

}


