@import "vars";
@import "mixins";

.auth-img {
  max-width: 736px;
  img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    flex-shrink: 0;
  }
  
  @include tablet-small {
    display: none;
  }
  @include tablet {
    display: none;
  }
  @include mobile {
    display: none;
  }
  @include mobile-small {
    display: none;
  }
}
